.img-center{
  margin: 0 auto;
}

.title{
  color: #000;
  font-weight: bold;
}

.header-row{
  padding-bottom: 40px;
}
.icon{
  font-size: 50px;
  color: #000;
}

/*top section*/
section#top{
  background: #1abc9c;
  padding: 40px 0;
}
.img-main{
  height: 300px;
  padding-top: 60px;
}

/*benefit section*/
section#benefit{
  background: #fff;
  padding: 40px 0;
}
.benefit-title{
  color: #000;
}

/*feature section*/
section#feature{
  background: #ecf0f1;
  padding: 40px 0;
}

.feature-title{
  color: #000;
}

/*screenshot section*/
.carousel-indicators{
  z-index: 0;
}
.carousel-indicators li{
  border: 1px solid #337ab7;
}

.carousel-indicators .active{
  background: #337ab7;
}
section#screenshot{
  background: #202020;
  color: #bdc3c7;
  padding: 40px 0;
}

.screenshot-title {
  color: #fff;
  padding-bottom: 20px;
}

.img-slide{
  height: 450px;
}
@media(min-width:768px) and (max-width: 980px) {
  .img-slide{
    height: 290px;
  }
}

@media(max-width: 360px) {
  .img-slide{
    height: 140px;
  }
}

.contact{
  padding-top: 20px;
}

/*get in touch section*/
section#get-in-touch{
  padding: 40px 0;
}
.btn-sent{
  width: 100%;
}

.form-control{
  height: 50px;
}

.form-group{
  margin-bottom: 30px;
}

/*footer section*/
section#footer{
  background: #1D2023;
  color: #B6B6B6;
}
.go-to-top{
  width: 52px;
  height: 52px;
  margin: 0 auto;
  line-height: 45px;
  display: block;
  font-size: 28px;
  text-align: center;
  background: #337ab7;
  color: #fff;
  border-radius: 26px;
  position: relative;
  top: -30px;
}
.footer-row{
  padding: 40px 0;
}
.copyright{
  padding: 55px 0 0;
}